.switch-button {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: #ef6a6a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xxx-large;
    box-shadow: 0 20px #999;
    border: 0;
    margin-bottom: 2rem;
}

.switch-button:hover {
    background-color: rgb(241, 75, 75);
}

.switch-button:active {
    background-color: rgb(240, 52, 52);
    box-shadow: 0 10px #999;
    transform: translateY(4px);
}

.switch-button:disabled {
    background-color: rgb(119, 114, 114);
    box-shadow: 0 20px #999;
    transform: translateY(0);
}

.status {
    font-size: xxx-large;
    margin-bottom: 2rem;
    color: red;
}

.status-open {
    color: green;
}

.layout {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
